.emailComponent {
  height: 768px;
  background-image: url("https://d1qh7kd1bid312.cloudfront.net/casinoBackground.png");
  background-size: cover;
  background-position: center bottom;
  position: relative;
  padding-bottom: 132px;
}

.emailContainer {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.emailTitle {
  text-align: center;
  color: #fff;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 15px;

  span {
    font-weight: 400;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -72px;
    width: 100%;
    height: 160px;
    background-image: url('https://d1qh7kd1bid312.cloudfront.net/about/scattered-shapes.png');
    background-size: cover;
  }
}

.subTitle {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.84;
  letter-spacing: 1.5px;
  text-align: center;
  color: #8280bd;
  margin-bottom: 40px;

  span {
    font-weight: 400;
  }
}

.watchDemoBtn {
  display: block;
  margin: 0 auto;
  font-weight: 300;
  width: 187.7px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  color: #fff !important;
  height: 50.5px;
  line-height: 50.5px;
  border-radius: 100.2px;
  background-image: linear-gradient(125deg, #7a48ca, #60aedc);
  box-shadow: 2px 3px 24px 0 #2b1c45;

  svg {
    width: 7.6px;
    height: 10.5px;
    margin-right: 6.9px;
  }

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

.linkBlock {
  margin: 50px auto 0 auto;
  height: 50px;
  text-align: center;
  cursor: pointer;

  .snsBtn {
    margin: 0 10px;
    width: 51px;
    height: 51px;
    display: inline-block;
    object-fit: contain;
  }
}
