.emailComponent {
  height: 768px;
  background-image: url("https://d1qh7kd1bid312.cloudfront.net/casinoBackground.png");
  background-size: cover;
  background-position: center bottom;
  position: relative;
  padding-bottom: 132px;
}

.emailContainer {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.emailTitle {
  text-align: center;
  color: #fff;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 15px;

  span {
    font-weight: 400;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -72px;
    width: 100%;
    height: 160px;
    background-image: url('https://d1qh7kd1bid312.cloudfront.net/about/scattered-shapes.png');
    background-size: cover;
  }
}

.subTitle {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.84;
  letter-spacing: 1.5px;
  text-align: center;
  color: #8280bd;
  margin-bottom: 40px;

  span {
    font-weight: 400;
  }
}

.linkBlock {
  margin: 50px auto 0 auto;
  height: 50px;
  text-align: center;
  cursor: pointer;

  .snsBtn {
    margin: 0 10px;
    width: 51px;
    height: 51px;
    display: inline-block;
    object-fit: contain;
  }
}

.emailInput {
  font-size: 18px;
  width: 408.5px;
  height: 50.5px;
  border-radius: 100.2px;
  background-color: #fff;
  padding-left: 23px;
  border: none;
  outline: none;
}

.emailInputWrapper {
  position: relative;
  width: 408.5px;
  height: 50.5px;
  border-radius: 100.2px;
}

.emailForm {
  display: flex;
  justify-content: center;
}

.subscribeBtn {
  font-weight: 300;
  position: absolute;
  top: 0;
  right: 0;
  width: 143.2px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  height: 50.5px;
  border-radius: 100.2px;
  background-image: linear-gradient(125deg, #7a48ca, #60aedc);
  box-shadow: 2px 3px 24px 0 #2b1c45;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
