.welcomeContainer {
  display: flex;
  height: 825px;
  background-color: #1a1922;
  padding-top: 75px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.innerContainer {
  max-width: 940px;
  text-align: center;

  svg {
    width: 150px;
    height: 150px;
  }

  .title {
    font-size: 32px;
    letter-spacing: 0.3px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 300;

    span {
      font-weight: 500;
    }
  }

  .content {
    font-size: 22px;
    letter-spacing: 0.2px;
    font-weight: 500;
    color: #9e9cb7;
    margin-bottom: 30px;
  }
}

.remainTime {
  font-size: 27.3px;
  letter-spacing: 0.3px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 45px;

  .bold {
    font-weight: 500;
  }

  .underline {
    border-bottom: solid 1.3px #fff;
  }
}

.statusBox {
  max-width: 810px;
  margin: 0 auto;
  height: 180px;
  border-radius: 10px;
  background-color: #282733;
  padding: 20px 40px;
  margin-bottom: 34.2px;

  .title {
    font-size: 20px;
    color: #bdb6cf;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 60px;
  }

  .progressContainer {
    .progressBar {
      max-width: 600px;
      height: 11px;
      margin: 0 auto;
      border-radius: 10px;
      background-color: #525265;
      position: relative;

      span {
        display: inline-block;
        width: 100px;
        font-size: 18px;
        font-weight: 300;
        color: #ffffff;
        position: absolute;
        bottom: -35px;
      }

      .minCap {
        left: -50px;
      }
      .maxCap {
        right: -50px;
      }

      .filledBar {
        position: absolute;
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
        border-radius: 10px;
        background-image: linear-gradient(to right, #ffb88d, #f7485f);

        .currentEther {
          position: absolute;
          top: -43px;
          right: -47px;
          background-color: #ffffff;
          width: 102px;
          height: 30px;
          line-height: 30px;
          border: solid 1px #cbcddd;
          border-radius: 3px;
          color: #f74b60;
          font-size: 15px;
          text-align: center;

          &:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 9px solid #fff;
            position: absolute;
            bottom: -9px;
            left: 44px;
          }
        }
      }
    }
  }
}

.contributeBtn {
  width: 200px;
  height: 50px;
  border-radius: 100.2px;
  background-image: linear-gradient(117deg, #851dc2, #51e9e7);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.termsModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.termsModal {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
}
