$top-navbar-height: 75px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $top-navbar-height;
  z-index: 20;
  transition: background-color 250ms cubic-bezier(0.4, 0.0, 1, 1);
}

.navbarContainer {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}

.rightNavItemsWrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: $top-navbar-height;
  display: flex;
  align-items: center;
}

.rightNavItem {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin-right: 24px;
  width: 96px;

  a {
    display: inline-block;
    vertical-align: top;
    line-height: $top-navbar-height;
    font-weight: 300;
    height: 100%;
    cursor: pointer;
  }

  @media (max-width: 800px) {
    margin-right: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 135px;
  height: $top-navbar-height;
  line-height: $top-navbar-height;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 135px;
  }
}
