$header-height: 80px;

.playSlotContainer {
  max-width: 940px;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 32px;
}

.innerHeader {
  position: relative;
  height: $header-height;

  .slotName {
    font-size: 26px;
    font-weight: 300;
    color: #2d2c44;
    height: 100%;
    line-height: $header-height;
  }

  .rightBtns {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    line-height: 80px;

    button:focus {
      outline: none;
    }
    button:active {
      transform: translate3d(0, 1px, 0);
    }

    .helpBtn {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #dbdbe4;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
    }

    .headerBtn {
      display: inline-block;
      width: 140px;
      height: 50px;
      line-height: 50px;
      background-color: #6257da;
      border-radius: 50px;
      font-size: 16px;
      color: #fff;
      text-align: center;
      margin-left: 20px;
      cursor: pointer;

      &:last-child {
        background-color: #41bed5;
      }
    }
  }
}

.bottomSection {
  background-color: #eceaec;
}

.bottomContainer {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 20px;

  .sectionMenu {
    display: inline-block;
    width: 240px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #2d2c44;
    font-weight: 300;
    cursor: pointer;

    &.active {
      background-color: #fff;
    }
  }
}

.tableWrapper {
  background-color: #fff;
  margin-bottom: 32px;

  :global {
    .ReactTable {
      max-width: 940px;
      margin: 0 auto;
      border: none;
      text-align: center;
      color: #2d2c44;

      .rt-th {
        padding: 0;
        border: none;
        line-height: inherit;
      }

      .rt-td {
        border: none;
      }

      .rt-thead {
        &.-header {
          box-shadow: none;
          height: 50px;
          line-height: 50px;
          font-size: 16px;
          color: #2d2c44;
          border-bottom: solid 1px #ccc;
        }
      }

      .rt-tbody {
        .rt-tr-group {
          border: none;
        }
      }
    }
    .-pagination {
      box-shadow: none;
      border: none;
    }
  }
}
