.slotListItem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 200px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #dcdbea;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-top: 32.5px;

  &:hover {
    background-color: #eeeef3;
  }
}

.itemTitle {
  font-size: 22px;
  text-align: center;
  color: #222135;
  margin-bottom: 27.5px;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
}

.infoTitle {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #222135;
  margin-bottom: 8.5px;
}

.infoValue {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #9494ac;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  border-top: solid 1px #dcdbea;
  font-size: 12px;
  color: #222135;
}

.footerLeft {
  position: absolute;
  left: 17px;
}

.footerRight {
  position: absolute;
  right: 17px;
}

.plusButtonWrapper {
  display: block;
  text-align: center;
  height: 50px;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
  }
}

.newSlotListItem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 200px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #dcdbea;
  margin-left: 20px;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    background-color: #eeeef3;
  }
}

.newItemTitle {
  margin-top: 15px;
  font-size: 17px;
  color: #c0bed4;
  text-align: center;
}

.newSlotListItemContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
