@import "../slot/layouts/header";

.makeGameContent {
  position: absolute;
  z-index: 10;
  height: 700px;
  padding-top: 30px;
}

.makeGameContainer {
  position: relative;
  height: calc(100vh - 75px);
  min-height: 700px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #22212f;

  &:after {
    content: '';
    position: absolute;
    background-image: url("https://d1qh7kd1bid312.cloudfront.net/makeSlotBackground.png");
    background-size: auto 336px;
    background-position: center top;
    background-repeat: no-repeat;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    height: 750px;
    max-height: 100%;
  }
}

.makeSlotIcon {
  display: inline-block;
  vertical-align: top;
  width: 317px;
  height: 67.5px;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 317px;
    height: 67.5px;
  }
}
