@import "../slot/layouts/header";

.makeGameContainer {
  background-image: url("https://d1qh7kd1bid312.cloudfront.net/makeSlotBackground.png");
  background-size: 100% 100%;
  height: calc(100vh - #{$top-navbar-height});
  text-align: center;
}

.makeSlotIcon {
  display: inline-block;
  vertical-align: top;
  width: 317px;
  height: 67.5px;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 317px;
    height: 67.5px;
  }
}
