.makeAndPlayContainer {
  padding-top: 90px;
  background: #f7f5fc;
  color: #f2f2f2;
  font-family: Roboto;
  position: relative;

  &:after {
    content: '';
    z-index: 1;
    display: block;
    bottom: 0;
    width: 100%;
    height: 175px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.81) 71%, #ffffff);
  }
}

.innerContainer {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.makeAndPlayTitle {
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: 0.8px;
  text-align: center;
  color: #000000;
  span {
    font-weight: bold;
  }
  margin-bottom: 30px;
}

.makeAndPlayContext {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;

  img {
    width: 100%;
    height: 100%;
  }

  .bubble {
    position: absolute;
    width: 350px;
    height: 160px;
    opacity: 0.8;
    z-index: 10;

    .bubbleContext {
      position: absolute;
      top: 18px;

      .bubbleTitle {
        font-size: 18px;
        letter-spacing: 0.3px;
        margin-bottom: 8px;
      }
      .bubbleText {
        font-size: 13px;
        font-weight: 300;
        line-height: 2;
        letter-spacing: 0.5px;
        color: #fff;
      }
    }
  }

  .bubble.left {
    top: 300px;
    left: 0;
    .bubbleContext {
      left: 35px;
      .bubbleTitle {
        color: #ff2b71;
      }
    }
  }

  .bubble.right {
    top: 150px;
    right: 0;
    .bubbleContext {
      left: 40px;
      .bubbleTitle {
        color: #00e9dd;
      }
    }
  }
}
