.crowdSaleContainer {
  z-index: 8;
  position: absolute;
  right: 0;
  bottom: -36px;
  width: 100%;
  height: 300px;

  @media (max-width: 800px) {
    height: 270px;
  }
}

.ticketContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4.5px 14.5px 0 rgba(131, 131, 155, 0.5);
  position: relative;
  max-width: 860px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .ticketBackground {
    display: block;
    height: 100%;
  }

  .ticketTitle {
    text-align: center;
    line-height: 2.04;
    font-size: 22.5px;
    letter-spacing: 0.7px;
    color: #1a0c3d;
    margin-bottom: 15px;

    strong {
      font-weight: 500;
    }

    span {
      font-size: 22px;
    }

    @media (max-width: 800px) {
      font-size: 20px;
    }
  }

  .timeCounter {
    text-align: center;

    .timeColon {
      display: inline-block;
      font-size: 52px;
      letter-spacing: 2px;
      color: #d2c9ea;
    }

    .counterCell {
      position: relative;
      display: inline-block;
      width: 90px;

      .counterNumber {
        font-size: 56px;
        line-height: 0.6;
        letter-spacing: 1.6px;
        text-align: center;
        color: #1a0c3d;
      }

      .counterTag {
        position: absolute;
        bottom: -35px;
        left: 0;
        right: 0;
        font-size: 17px;
        letter-spacing: 0.5px;
        color: #1a0c3d;
      }
    }

    @media (max-width: 800px) {
      .timeColon {
        font-size: 45px;
      }
      .counterCell {
        width: 80px;
        .counterNumber {
          font-size: 40px;
        }
        .counterTag {
          bottom: -20px;
          font-size: 12px;
        }
      }
    }
  }

  .moreInformation {
    display: block;
    margin-top: 30px;
    font-size: 19px;
    line-height: 2.42;
    letter-spacing: 0.4px;
    color: #7a49ca;
    text-decoration: underline;
  }
}
