.sliderContainer {
  height: 680px;
  background-color: #f7f4f4;
  padding-top: 70px;
}

.innerContainer {
  position: relative;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  background: url('https://d1qh7kd1bid312.cloudfront.net/about/mobilePhone.png') no-repeat;
  background-position: center bottom;
  background-size: contain;

  div {
    top: 100px;
    width: 265px;
  }

  .leftBlock {
    position: absolute;
    left: 0;
    text-align: right;

    .logoTitle {
      display: inline-block;
      width: 200px;
    }

    .subTitle {
      font-size: 30px;
      font-weight: 100;
      letter-spacing: 0.4px;
      color: #9e9e9e;
      margin-top: 20px;
      margin-bottom: 200px;
    }

    .guide {
      height: 50px;
      font-size: 18px;
      letter-spacing: 0.3px;
      color: #232237;
      font-weight: 300;
    }

    .googlePlayLink {
      cursor: pointer;
      img {
        width: 176px;
      }
    }
    @media (max-width: 800px) {
      display: none;
    }
  }

  .rightBlock {
    position: absolute;
    right: 0;

    .title {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 0.9px;
      color: #232237;
      line-height: 1.33;
      margin-bottom: 27px;
    }

    .context {
      font-size: 24px;
      font-weight: 100;
      line-height: 1.25;
      letter-spacing: 0.7px;
      color: #727272;
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
}
