.footer {
  display: flex;
  background: #fefffe;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.innerContainer {
  flex-basis: 960px;
  position: relative;
}

.footerContent {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.45;
  letter-spacing: 0.6px;
  color: #959595;
  display: inline-block;
}

.rightBtns {
  position: absolute;
  right: 0;
  display: inline-block;
  text-align: right;

  .btnContainer {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    cursor: pointer;

    svg {
      width: 50px;
      height: 50px;
    }

    @media (max-width: 800px) {
      margin-right: 5px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.snsBtn {
  svg {
    width: 51px;
    height: 51.5px;
    display: inline-block;
    object-fit: contain;

    @media (max-width: 800px) {
      width: 40px;
      height: 40px;
    }
  }
}
