.footer {
  display: flex;
  background: #f8f8f8;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.innerContainer {
  width: 960px;
  position: relative;
}

.footerContent {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.45;
  letter-spacing: 0.6px;
  color: #959595;
  display: inline-block;
}

.btnContainer {
  display: inline-block;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}

.rightBtns {
  position: absolute;
  right: 0;
  display: inline-block;
  text-align: right;

  a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;

    @media (max-width: 800px) {
      margin-right: 5px;
    }
  }
}

.snsBtn {
  svg {
    width: 51px;
    height: 51.5px;
    display: inline-block;
    object-fit: contain;

    @media (max-width: 800px) {
      width: 40px;
      height: 40px;
    }
  }
}
