$top-navbar-height: 75px;

.header {
  background: #2d2c44;
  height: $top-navbar-height;
}

.headerContainer {
  position: relative;
  width: 960px;
  height: 100%;
  margin: 0 auto;

  .leftItems {
    position: absolute;
    top: 0;
    left: 230px;
    height: $top-navbar-height;
    line-height: $top-navbar-height;
  }

  .navItem {
    font-size: 15px;
    text-align: center;
    color: #a5a4af;
    margin-right: 18px;
  }

  .navItemActive {
    color: #d3d1e0;
  }

  .rightItems {
    position: absolute;
    top: 0;
    right: 0;
    height: $top-navbar-height;
    line-height: $top-navbar-height;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 135px;
  height: $top-navbar-height;
  line-height: $top-navbar-height;

  svg {
    display: inline-block;
    vertical-align: top;
    width: 135px;
  }
}

.walletStatus {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  margin-right: 33px;
}

.accountBtn {
  display: inline-block;
  vertical-align: top;
  height: 39px;
  border-radius: 81.1px;
  border: 1.5px solid #6257da;
  padding: 0 17px;
  margin-top: 18px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
