.header {
  background: #2d2c44;
  color: #f2f2f2;
  font-family: sans-serif;
  height: 160px;
  padding-top: 20px;
  padding-left: 100px;
}

.title {
  font-size: 40px;
}

.item {
  text-align: right;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #f2f2f2;
  font-size: 18px;
}
.item:hover {
  background: #f2f2f2;
  color: #6c808c;
}

.item:active,
.item.active {
  background: #f2f2f2;
  color: #5c7cfa;
}

.walletStatus {
}

.accountBtn {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #f2f2f2;
  font-size: 18px;
}

.accountBtn:hover {
  background: #f2f2f2;
  color: #6c808c;
}

.accountBtn:active,
.accountBtn.active {
  background: #f2f2f2;
  color: #5c7cfa;
}
