.solidButton {
  width: 220px;
  height: 60px;
  line-height: 60px;
  border-radius: 100px;
  background-color: #6257da;
  font-size: 22px;
  letter-spacing: 0.9px;
  text-align: center;
  color: #1b1b27;
  outline: none;
  cursor: pointer;

  &:disabled {
    background-color: #473e79;
    letter-spacing: 0.9px;
    text-align: center;
    color: #1b1b27;
    cursor: not-allowed;
  }
}
